*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: cornflowerblue;
  color: white;
}

.main-wrapper{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  position: relative;
  width: 835px;
  height: 300px;
  background-color: brown;
}
.slider{
  float: left;
  width: 700px;
  height: 100%;
  background-color: yellow;
}
.slider img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}
.slider img.active{
  display: block;
}
.thumbs{
  display: flex;
  flex-direction: column;
  float: left;
  width: 135px;
  height: 100%;
  background-color: black;
}
.thumbs img{
  width: 100%;
  height: calc(100% / 5);
  object-fit: cover;
  opacity: .5;
}

.thumbs img.active{
  opacity: 1;
  border: 2px solid white;
}
.buttons{
  position: absolute;
  top: 0;
  right: 49px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  z-index: 100;
}
.next, .prev{
  position: relative;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, .5);
  border-radius: 50%;
}
.next::after, .prev::after{
  position: absolute;
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-top: 1px solid black;
  border-right: 1px solid black;
  top: 5px;
  left: 4px;
}
.next{
  transform: rotate(-45deg);
}
.prev{
  transform: rotate(135deg);
}
.next:hover, .prev:hover{
  background-color: white;
}